ul,
h2 {
     color: brown;
     font-size: 30px;
     display: table;
     margin: 0 auto;
}
font {
     text-align: center;
}
img {#pop {
    font-size: 30px;
}
    display: block;
    margin: 0 auto;
}
html {
     font-family: 'Noto Sans TC', sans-serif;
}
body {
    /* The image used */
    background-image: url("../image/bg_chiheisen_green.jpg");
    /* Full height */
    height: 120%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #2E4053;
    text-shadow: 3px 3px 1px black;
}
#pop {
    font-size: 40px;
}